body {
  background-color: #f8f9fa;
}

h1 {
  font-size: 2.5em;
  color: #343a40;
  margin-top: 20px;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  width: 100%;
  padding: 12px;
  font-size: 1.1em;
}
